<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    </head>
    <body>
        <p><b>Сумма за дату {{date}} = {{amount}}</p>
    </body>
</html>