<!DOCTYPE html>

<html lang="en">
    <head>
        <script type="text/javascript" src="js/main.js"></script>
    </head>
    <body>
		<p><b>Топ 3 товара по КПП №:</p>

		<form method="get" action="top3">
			<input type="text" name="cardNum" />
			<input type="submit" value="Получить товры!" />
		</form>
		</br>
		<form method="get" action="getAmountForDay">
           <p>Сумма покупок за день: <input type="date" name="date">
           <input type="submit" value="Получить"></p>
         </form>
    </body>
</html>