<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    </head>
    <body>
    <div align="center">
        <h2>TOP 3</h2>
        <table border="1" cellpadding="5">
        <tr>
            <th>Код товара</th>
            <th>Наименование</th>
        </tr>
        {{#listTop3}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
        </tr>
        {{/listTop3}}
        </table>
    </div>
    </body>
</html>